# Postgres (local)
DATABASE_URL="postgresql://postgres:grWjqivwPpKCzJXS@localhost:5432/jotta"

# Github Actions env vars
VERCEL_TOKEN=example
NEON_API_KEY=example
NEON_PROJECT_ID=example
NEON_MAIN_BRANCH_NAME=example
PG_DATABASE=example
PG_USERNAME=example

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=example
CLERK_SECRET_KEY=example
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
CLERK_WEBHOOK_SECRET=example